# This is a dummy Jinja2 file

<Connectivity>
ConnectivityType {{ Connectivity }}
</Connectivity>

<AccountInfo>
UserName {{ User }}
Password {{ password }}
</AccountInfo>

<SystemInfo>
DistributionType {{ ansible_os_family }}
</SystemInfo>

